<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="templates::head"></div>

<body class="is-preload">
    <div th:replace="templates::header"></div>
    <div th:replace="templates::menu"></div>

    <main class="margin-top--xl margin-bottom--xl">
        <div class="container container--xl">
            <h1 class="text--center">Oops...Page not found.</h1>
            <h3 class="text--center" th:text="${statusCode}"> Error Code</h3>
            <div class="fof-animation">
                <figure>
                    <a href="/serendipper"><img src="/static/images/fof.gif" alt="404 animation" title="" style="" align="center"></a>
                </figure>
            </div>
        </div>
    </main>
    <br><br><br><br>
    <div th:replace="templates::footer"></div>
    <div th:replace="templates::scripts"></div>
</body>
</html>