<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="templates::head"></div>

<body class="is-preload">
<div th:replace="templates::header"></div>
<div th:replace="templates::menu"></div>

<div class="div-block-2">
    <h1 class="heading">Find your Serendipity</h1>
    <p class="paragraph">Register</p>

    <div class="form-block w-form">
        <form id="email-form" name="email-form" data-name="Email Form" method="post"
              th:action="@{/account/{action}(action=${register_action})}" th:object="${serendipper}">

            <!-- id-->
            <input type="hidden" th:value="${serendipper.id}"/>

            <!-- username-->
            <input type="text" class="text-field w-input" maxlength="20" placeholder="your username"
                   th:value="${serendipper.username}" th:field="*{username}"/>
            <br>

            <!-- email-->
            <input type="email" class="text-field w-input" maxlength="256" placeholder="yourawesome@email.com"
                   th:value="${serendipper.email}" th:field="*{email}"/>
            <br>
            <!-- password-->
            <input type="password" class="text-field w-input" maxlength="20" placeholder="your password"
                   th:value="${serendipper.password}" th:field="*{password}"/>
            <!-- roles-->
            <input type="hidden" name="roles" th:value="ROLE_USER"/>

            <input type="submit" value="Register" class="submit-button w-button" />
        </form>

        <div class="success-message w-form-done"></div>
        <div class="error-message w-form-fail">
            <div class="text-block-3">Oops! Something went wrong while submitting the form. Try again!</div>
        </div>
    </div>
    <p class="paragraph">Already has a account? <a href="/account/login">click it and login</a>.</p>
</div>
    <br>
    <div th:replace="templates::footer"></div>
    <div th:replace="templates::scripts"></div>
</body>
</html>