<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:replace="templates::head"></div>

    <body class="is-preload">
        <div th:replace="templates::header"></div>
        <div th:replace="templates::menu"></div>
        <div class="app-container">
            <div class="main-container">
                <h2 class="comments__title">Write your Serendipity now.</h2>
                <div class="comments__bottom span14">
                    <form class="comments__reply span5 span14-mobile" method="post"
                          th:action="@{/serendimsg/{action}(action=${new_serendimsg_action})}">
                        <label class="custom-label relative" th:object="${serendimsg}">
                            <br>
                            <!-- id-->
                            <input type="hidden" th:value="${serendimsg.id}"/>
                            <!--createdBy-->
                            <input type="hidden" th:value="${serendimsg.createdBy}"/>
                            <!--message-->
                            <textarea name="message" placeholder="Write your serendipity" rows="5"
                                  class="custom-input__textarea comments__message span8-tablet span100p-mobile"
                                  th:utext="${serendimsg.message}" >
                            </textarea>
                            <!--time-->
                            <input type="hidden" th:value="${serendimsg.time}"/>
                            <br>
                        </label>
                        <button type="submit" value="Post" class="form-submit comments__send" name="Post">Post
                            <svg class="svg-spinner form-submit__spinner svg-spinner--inactive" width="16px" height="16px" viewBox="0 0 66 66">
                                <circle class="svg-spinner__path-bg" stroke="transparent" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                                <circle class="svg-spinner__path" stroke="#dbdbdb" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                            </svg>
                        </button>
                    </form>
                </div>

                <tr th:each="current_serendimsg : ${serendimsgs}">
                    <div>
                    <article class="case-single span14 margin-bottom-contextual">
                        <div class="page__transition"> <div class="case-single__details span5 span14-tablet span14-mobile">
                            <div class="case-single__details__top">
                                <div class="case-single__details__top__share"><div class="social-share">
                                    <button th:if="${#authentication.name eq current_serendimsg.getHost()}" class="social-share__button">
                                        <a th:href="@{/serendimsg/delete/{id}(id=${current_serendimsg.getId()})}">Delete</a></button>
                                </div></div>
                            </div>

                            <div class="case-single__details__top__date span2 span4-tablet span4-tablet-plus span14-mobile pixel-pattern">
                                <div class="pixel-text case-single__details__day">
                                    <span class="pixel-text__text"><td th:text="${current_serendimsg.getCreatedDateDay()}">24</td></span>
                                </div>
                                <span class="case-single__details__month">
                                    <td th:text="${current_serendimsg.getCreatedDateMonth() + '  ' +current_serendimsg.getCreatedDateYear()}">Feb 2018</td>
                                </span><br>
                                <span class="case-single__details__award"><td th:text="${current_serendimsg.getCreatedDateTime()}">01:00:00</td></span>
                            </div>
                            </div>

                        <div class="case-single__details__bottom hide-tablet hide-mobile">
                            <div class="case-single__details__content">
                                <h3 class="case-single__details__title"><td th:text="${current_serendimsg.getHost()}">Serendipper</td></h3>
                                <span class="case-single__details__type"><td th:utext="${current_serendimsg.getMessage()}">Find Your Serendipity</td></span>
                            </div>
                        </div>
                        </div>

                    </article>
                    </div>
                </tr>

            </div>
        </div>

        <br>
        <div th:replace="templates::footer"></div>
        <div th:replace="templates::scripts"></div>
        <script src="/static/js/main-2.js" async=""></script>
    </body>
</html>